# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
DerivedData
*.xccheckout
*.moved-aside
*.xcworkspace
!default.xcworkspace
IDEWorkspaceChecks.plist
WorkspaceSettings.xcsettings

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Swift PM
.build/

# OS X
.DS_Store